{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block body %}
<body class="d-flex">
    <form class="form-signin w-100 m-auto d-flex flex-column align-items-center justify-content-center" action="/login" method="POST">
        <div class="d-flex flex-column align-items-center">
            <img class="" src="/static/img/logo-gruvitec.jpg" alt="" width="200px" height="200px">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <br>
                    <div class="alert alert-primary alert-dismissible" role="alert">
                        <strong>{{ messages[0] }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endwith %}
            <h1 class="h3 mb-3 fw-normal">Inicia sesión con tu cuenta</h1>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </div>
        <div class="form-floating w-50 mb-2">
            <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese nombre de usuario">
            <label for="username">Ingrese nombre de usuario</label>
        </div>
        <div class="form-floating w-50 mb-2">
            <input type="password" class="form-control" name="password" placeholder="Ingrese contrase;a">
            <label for="password">Ingrese contraseña</label>
        </div>
        <button class="btn btn-success w-50 py-2" type="submit">Ingresar</button>
    </form>
</body>
{% endblock %}