html,
body {
  height: 100%;
  background-image: url('https://static.vecteezy.com/system/resources/previews/008/070/564/original/gradient-background-with-two-colors-yellow-blue-smooth-gradient-suitable-for-backgrounds-web-design-banners-illustrations-and-others-free-vector.jpg');
}

.form-signin {
  max-width: 500px;
  position: relative;
  border: 2px solid;
  border-radius: 15px;
  height: 550px;
  background: linear-gradient(to bottom, #ffffff, #dddddd);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}